AZURE_AD_CLIENT_ID=your-client-id
AZURE_AD_TENANT_ID=your-tenant-id
AZURE_AD_CLIENT_SECRET=your-client-secret

DEEPINFRA_API_KEY=your-deepinfra-api-key
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX_NAME=your-pinecone-index-name

OPENROUTER_API_KEY=your-openrouter-api-key
OPENROUTER_MODEL=ai/model-name

NODE_ENV=development

NEXT_PUBLIC_POSTHOG_KEY=your-posthog-key
NEXT_PUBLIC_POSTHOG_HOST=your-posthog-host

BETTER_AUTH_SECRET=your-better-auth-secret

VERCEL_PROJECT_PRODUCTION_URL=your-production-url
PREVIEW_URL_PATTERN=your-preview-url-pattern

BLOB_READ_WRITE_TOKEN=your-rw-token
