.Textbox {
  box-sizing: border-box;
  padding: 0.875rem;
  background-clip: local;
  margin: 0;
  line-height: 1.5;
  border: 1px solid var(--color-gray-300);
  width: 100%;
  min-height: 2.5rem;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  background-color: transparent;
  color: var(--color-gray-900);
  field-sizing: content;
  resize: none;
  transition:
    border-color 100ms,
    outline 100ms;

  &::placeholder {
    color: var(--color-gray-500);
  }

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0.875rem;
  }

  &[data-invalid] {
    border-color: var(--color-red);

    &:focus {
      outline-color: var(--color-red);
    }
  }

  &[data-disabled],
  &:disabled {
    opacity: 0.45;
    cursor: not-allowed;
  }
}
