.container {
  border: 1px solid var(--color-gray-300);
  width: 44vw;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: end;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
}

/* double class selector overwrites single class selector */
.textbox.textbox {
  border: none;
  transition: none;
  max-height: 7.75rem;
  overflow-y: auto;
  padding: 0;
  padding-inline: 0.5rem;
  scroll-padding-block: 0.875rem;

  &:focus {
    outline: none;
  }
}

.field {
  width: 100%;
}
