body {
    margin: 0;
    font-family:
        var(--font-inter),
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        "Helvetica Neue",
        sans-serif;
}

h1 {
    margin-block-end: 10px;
}

h3 {
    margin-block: 0;
}
