.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messagesContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.messagesContainer[data-show="messages"] {
  height: 78%;
}

.greeting {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 200;
  color: var(--text-primary);

  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s;
  opacity: 1;
  visibility: visible;
}

.greeting[data-state="hidden"] {
  opacity: 0;
  visibility: hidden;
}

.chatbox {

}

.disclaimer {
  font-size: 0.75rem;
  opacity: 0.6;
}
